<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BillaNode</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div><img src ="/images/logo.jpg" alt="Logo de la marca" ></div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
    </header>

    <section>    
        <article>
            <img src="" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
    </section>

    <section>
        <article>
            <img src="" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
            <a href="#">Ver mas</a>
        </article>
        <article>
            <img src="" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
            <a href="#">Ver mas</a>
        </article>
        <article>
            <img src="" alt="">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
            <a href="#">Ver mas</a>
        </article>
    </section>

    <footer>
        <p>&copy; 2023 Proyecto de ecommerce. Todos los derechos reservados.</p>
    </footer>

</body>
</html>